@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src:
  url(./Inter-Regular.woff2) format('woff2'),
  url(./Inter-Regular.woff) format('woff'),
  url(./Inter-Regular.ttf) format('truetype'),
  url(./Inter-Regular.otf) format('eot');
  }
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src:
  url(./Inter-SemiBold.woff2) format('woff2'),
  url(./Inter-SemiBold.woff) format('woff'),
  url(./Inter-SemiBold.ttf) format('truetype'),
  url(./Inter-SemiBold.otf) format('eot');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src:
  url(./Inter-Bold.woff2) format('woff2'),
  url(./Inter-Bold.woff) format('woff');
}
